/*
 * Area for custom background color
*/
#custom_background                          { width:100%; height:100%; position:fixed; top:0px; z-index:-250;}
#custom_border                              { margin-bottom: 20px; margin: auto;}

/* 
 * Header-in 
 */
#header_in                                  { float: right; max-width: 500px; padding-top:10px; }
#header-in .gutter                          { margin: 0px; padding: 0px; }
#header-in .block li                        { display: inline; padding-left: 10px; }
#header-in .block                           { margin-bottom: 1.2em; }
#header-in .block h2                        { display:none; }
#header-in .block *                         { float:right; }

/* 
 * Social block 
 */
#ceafusion_social_links                     { float: right; margin-right: 5px; margin-top: 10px; margin-bottom: 18px; }
#ceafusion_social_links img                 { margin-left: 10px;}

/* 
 * Main menu block 
 */
#main-menu-inner                            { margin-left: 10px;  margin-right: 10px; }
#main-menu-inner .gutter                    { margin: 0px; padding:0px;}

/* 
 * New position for logo and site name 
 */
#logo                                       { float: left; }
#site-name-wrapper                          { float: left; padding-left: 15px; padding-top: 20px; }
#site-name-wrapper a                        { font-size: 2em; }

/* 
 * Correction of shadows in sidebars 
 */
#sidebar-second-inner                       { padding-right: 10px; }
#sidebar-first-inner                        { padding-left: 10px; }
.sidebars-both-first #sidebar-second-inner  { padding-right: 0px; }
.sidebars-both-first #sidebar-first-inner   { padding-right: 10px; }
.sidebars-both-last #sidebar-second-inner   { padding-right: 0px; }
.sidebars-both-last #sidebar-first-inner    { padding-right: 10px; }

/* 
 * adjust for links in footer node 
 */
.links.inline                               { display: block; }
.links.inline li a                          { padding-right: 8px; }

/*
 * Borders
 */
.node-teaser                                { padding-bottom: 5px; }

/*
 * Adjusts
 */
body                                        { padding-top: 20px; }
#logo                                       { padding-top: 10px; }
#header-group-inner                         { padding-bottom: 20px; }
#custom_border                              { margin-bottom:40px;}
#block-devel-switch_user .content           { margin-left: 10px; }
#block-devel-switch_user                    { padding-bottom: 15px; }
.sidebar .block                             { padding-top: 10px; }



.ceafusion_featured_content {
  border: 1px solid gray;
  margin: 10px;
  position: relative;
}
.ceafusion_featured_content ul {float:right; position:absolute; top: 0px; right:15px; list-style-type:none; margin-top:1px;  }
.ceafusion_featured_content li {border: 0px solid gray; margin-bottom:1px; background: #cccccc; opacity:0.5; padding-left:8px; margin-bottom: 3px; }
.ceafusion_featured_content li:hover {border: 0px solid black; margin-bottom:1px; background: #cccccc; opacity:0.3 }
.ceafusion_featured_content div { margin-left: 10px; position:absolute; font-size: 1.5em; padding:8px; }
.ceafusion_featured_content img { position:absolute; left:0px; top:0px;}

