
      
      #custom_background                          { background-color: rgba(84,73,73,0.7) }
      .main-menu li:hover                         { background-color: rgb(252,251,251) }
      .sidebar .block                             { background-color: rgba(252,251,251,1) }
      .main-menu .block                           { background-color: rgba(252,251,251,1) }
      .main-menu li:hover a                       { color: #ffffff; }
      .title, a                                   { color:            rgb(0,0,0); }
      #header-group-inner, 
        #main-inner, 
        #footer-inner                             { background-color: #ffffff; }
      #ceafusion_social_links, .node-teaser       { border-bottom: 1px solid rgb(0,0,0); }
      .sidebar .block, .main-menu .block          { border: 1px solid rgb(0,0,0); }
      #main-menu-inner li                         { border-right: 1px solid rgb(0,0,0); }
      #custom_border                              { border: 0px solid rgb(0,0,0); }
      .shadow{
          -moz-box-shadow: 3px 3px 4px rgb(0,0,0);
          -webkit-box-shadow: 3px 3px 4px rgb(0,0,0);
          box-shadow: 3px 3px 4px rgb(0,0,0); /* For IE 8 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='rgb(0,0,0)')"; /* For IE 5.5 - 7 */
          filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = 'rgb(0,0,0)');
      }
      tr.odd, tr.even                             { background-color: transparent; border-bottom: 1px solid rgb(0,0,0)}
      .pager li *                                  { border: rgb(0,0,0) 1px solid; }
    